h1= translations.accountLogon.headline
form#accountLogonForm.grid-col-1
  input#accountLogonFormToken(type='hidden', name='_csrf', value=csurfToken)
  label(for='accountLogonFormEmail')= translations.accountLogon.email
  #accountLogonFormEmailError
  input#accountLogonFormEmail(
    type='email',
    name='email',
    placeholder='deine@email.de',
    required, minlength='5',
    maxlegnth='75')
  label(for='accountLogonFormPassword')= translations.accountLogon.password
  #accountLogonFormPasswordError
  input#accountLogonFormPassword(
    type='password',
    name='password',
    placeholder='mind. 8 Zeichen',
    required,
    minlength='8',
    maxlegnth='50')
  input#accountLogonFormSubmit(type='submit', value=translations.accountLogon.submit)
a(href=signupUrl)= value=translations.accountLogon.switchToSignup
