block variables

doctype html
html(lang=pugOptions.lang)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', initial-scale=1.0)
    meta(name='google', content='notranslate')
    each url, index in pugOptions.licenseUrls
      meta(name=`license_${index}`, content=url)
    title= title
    each link in pugOptions.favicon
      link(rel=link.rel, type=link.type, sizes=link.sizes, href=link.href)
    each cssFile in pugOptions.cssFiles
      link(rel='stylesheet', href=cssFile)
  body(id=pageId)
    header
      include ../includes/header
    main
      block content
    footer
      include ../includes/footer
    each jsFile in pugOptions.jsFiles
      script(src=jsFile)

