block variables

doctype html
html(lang=pugOptions.lang)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', initial-scale=1.0)
    meta(name='google', content='notranslate')        
    title= title
    each link in pugOptions.favicon
      link(rel=link.rel, type=link.type, sizes=link.sizes, href=link.href)
    each css_file in pugOptions.css_files
      link(rel='stylesheet', href=css_file)
  body
    header
      include ../includes/header      
    main      
      block content
    footer
      include ../includes/footer
    each js_file in pugOptions.js_files
      script(src=js_file)